* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container3{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    gap: 5px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: purple;
}