* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container4{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: right;
    align-items: flex-end;
    background: yellow;
    gap: 5px;
}

li {
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: purple;
}